.bg-image {
  background-image: url("../images/banner.jpg");
}

.cover-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cover-image {
  background-position: 50% 0;
/*  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;*/
  z-index: 0;
}

.banner--image-start {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:12;
}
.banner--image-end {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:10;
}