@media all and (max-width: 1140px){
  .nav-menu {
    display: none;
    height: auto;
    position: absolute;
    left: 0;
    width: 100%;
    top: 90px;
  }

  .nav-menu ul {
    background-color: #3f3f3f;
    height: auto;
  }

  .nav-menu ul li {
    border-bottom: 1px dotted #ffffff;
    width: 100%;
  }

  .first-nav .nav-menu ul li > a {
    color: #ffffff;
    line-height: 40px;
  }
}

@media all and (max-width:820px) {

  #seven-sacraments.sacraments-wrapper .row ul {
    max-width: 400px;
  }
  
  #seven-sacraments .row ul li {
    min-height: 178px;
  }
  
}


@media all and (max-width:768px) {

  #slideshow-block .slideshow-block-content {
    width: 100%;
  }

  #slideshow-block .slider-column {
    padding: 0;
    width: 100%;
  }

  #catholic-church-block .map-wrapper {
    margin: 0 0 20px;
    width: 100%;
  }
  
  .tm-slider-botttom-wrapper .tm-content-row {
    height: auto;
  }

  #catholic-church-block .tm-slider-botttom-wrapper {
    margin: 0;
    width: 100%;
  }

}

@media screen and (max-width: 480px){
  
  .home-inner {
    top: 35%;
  }
  
  #navigation,
  #navigation .navigation {
    height: auto;
  }
  
  .navigation .logo {
    margin: 10px 0;
    text-align: center;
    transform: none;
    width: 100%;
  }
  
  .navigation .logo img {
    max-height: none;
    width: 100%;
  }
  
  .mobile-nav-button {
    right: 0;
    position: relative;
    width: 100%;
  }

  #seven-sacraments.sacraments-wrapper .row ul {
    max-width: 200px;
  }
  
  .floated-box {
    float: none;
  }
  
  .floated-box.f-left,
  .floated-box.f-right {
    margin: 15px auto;
  }
  
  .btn {
    white-space: normal;
  }
  
  .glyphicon {
    margin: 10px 0 10px;
  }
  
  .timeline-wrapper {
    min-height: 90px;
  }
  
  .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
    display: none;
  }
  
  .slider.slider-horizontal .slider-tick-label-container .slider-tick-label:first-child {
    display: inline-block;
    float: left;
  }
  
  .slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child {
    display: inline-block;
    float: right;
  }
  
  .slider.slider-horizontal .slider-tick {
    background-color: transparent;
    box-shadow: none;
  }  
  
  #slideshow-block .carousel .item > img {
    height: 350px;
    max-height: 350px;
    width: auto;
  }

}

@media screen and (max-width: 380px){
  #image-gallery .col-xxs-12 {
    width:100%;
  }
  #image-gallery .col-xxs-12 img {
    width:100%;
  }
}